{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <p class="lead text-center">Hi, User!</p>

    <div class="container text-center">
        <p>This is your all-in-one productivity, made by rashitha1d & konarkm68, this website serves as a play
        where all your producitivity needs are met, from a note taking app, to a quote generator and even a pomodoro timer app and much more
        consider this the one stop shop for everything productivity!</p>
    </div>

{% endblock %}

