{% extends "layout.html" %}

{% block title %}
  Log In
{% endblock %}

{% block main %}
<section class="login-container container d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center mb-4">Log In</h1>

  <form action="/login" method="post" class="mb-4">
    <div class="form-group">
      <input type="text" class="form-control" id="username" name="username" autocomplete="off" autofocus placeholder="Username">
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</section>
{% endblock %}
