{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="lead text-center">Quote Generator</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="text-center display-2 fs-3">Generate your quote:</p>
            <p class="text-center italics"></p>
        </div>
    </div>
</div>

</div>


{% endblock %}

