{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <h1 class="text-center">Register</h1>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Re-type the password" type="password">
        </div>
        {% if error %}
            <p class="mb-3">{{ error }}</p>
        {% endif %}
        <button class="btn btn-primary mx-auto d-block" type="submit">Submit</submit>
    </form>
    <br>

{% endblock %}
